@import url(./__item/slider__item.css);
@import url(./__date/slider__date.css);
@import url(./__content/slider__content.css);
@import url(./__avatar-wrapper/slider__avatar-wrapper.css);
@import url(./__avatar/slider__avatar.css);
@import url(./__title/slider__title.css);
@import url(./__mail/slider__mail.css);
@import url(./__paragraph/slider__paragraph.css);
@import url(./__author/slider__author.css);

.slider {
  width: calc(100% + 208px);
  margin: 64px 64px 0 -104px;

}
.slider::before, .slider::after {
  content: '';
  width: 88px;
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, #f5f6f7 0%, rgba(255,255,255,0) 100%);
}
.slider::after {
  right: 0;
  background: linear-gradient(to left, #f5f6f7 0%, rgba(255,255,255,0) 100%);
}

@media screen and (max-width: 965px){
  .slider {
    width: calc(100% + 80px);
    margin: 32px 20px 0 -40px;
  }
}

@media screen and (max-width: 767px){
  .slider {
    width: calc(100% + 32px);
    margin: 16px 16px 0 -32px;
  }
}