.technology__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 55px;
}

@media screen and (max-width: 767px) {
  .technology__item {
    margin: 0 0 42px 0;
  }
}