.commits__button {
  font-family: 'Roboto','Roboto Slab',sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 65px;
  border: 1px solid #1A1B22;
  box-sizing: border-box;
  border-radius: 80px;
  display: none;
  color: #1A1B22;
  text-decoration: none;
  text-align: center;
  max-width: 300px;
}

.commits__button:hover {
  cursor: pointer;
  opacity: .5;
  transition: .3s;
}

@media screen and (max-width: 767px){
  .commits__button {
    display: block;
    margin: 70px auto 0 auto;
  }
}