<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Анализ новостей">
    <meta name="keywords" content="news analyzer,news">
    <meta name="author" content="Ilya Buyak">
    <title>NewsAnalyzer</title>
    <link rel="shortcut icon" href="<%= require('./images/fav.ico').default %>" type="image/x-icon">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  </head>
  <body class="root">
    <div class="root__container">
      <header class="header">
        <a class="logo" href="./index.html">NewsAnalyzer</a>
        <nav class="navigation">
          <ul class="navigation__items">
            <li class="navigation__item navigation__item_place-header navigation__item_active">
              <p class="navigation__link navigation__link_place-header navigation__link_active">Главная</p>
            </li>
            <li class="navigation__item navigation__item_place-header">
              <a class="navigation__link navigation__link_place-header" href="./about.html">О проекте</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="cover">
        <div class="cover__content">
          <h1 class="cover__title">Что в мире творится?</h1>
          <p class="cover__paragraph">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю.</p>
        </div>
        <form class="form" novalidate>
          <input class="form__input" placeholder="Введите тему новости" required>
          <span class="form__error"></span>
          <button type="submit" class="form__button">Искать</button>
        </form>
      </section>
    </div>
    <section class="search-result" id="preloader">
      <div class="preloader"></div>
      <h2 class="search-result__paragraph">Идет поиск новостей...</h2>
    </section>
    <section class="search-result" id="not-found">
      <div class="search-result__not-found"></div>
      <h2 class="search-result__title"></h2>
      <p class="search-result__paragraph"></p>
    </section>
    <main class="search-result" id="cards">
      <div class="cards">
        <h2 class="cards__title">Результаты поиска</h2>
        <a class="cards__link" href="./analytics.html">Посмотреть аналитику ></a>
      </div>
      <ul class="cards-items">
      </ul>
      <button class="cards__button">Показать еще</button>
    </main>
    <section class="about-author">
      <div class="about-author__image-container">
        <img src="<%=require('./images/author.jpg').default%>" class="about-author__img" alt="автор">
      </div>
      <div class="about-author__content">
        <h4 class="about-author__title">Об авторе</h4>
        <p class="about-author__paragraph">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          <br>Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
      </div>
    </section>
    <footer class="footer">
      <p class="footer__copyright"></p>
      <nav class="navigation">
        <ul class="navigation__items navigation__items_place-footer">
          <li class="navigation__item ">
            <a class="navigation__link navigation__link_place-footer" href="./index.html">Главная</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link navigation__link_place-footer" href="./about.html">О проекте</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link navigation__link_place-footer" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <ul class="footer__links">
        <li class="footer__item">
          <a class="footer__link" href="https://github.com/Ilya-Buyak" target="_blank">
            <img class="footer__img" src="<%=require('./images/github.svg').default%>" alt="github">
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://www.facebook.com/IlyaBuyak97" target="_blank">
            <img class="footer__img" src="<%=require('./images/facebook.svg').default%>" alt="facebook">
          </a>
        </li>
      </ul>
    </footer>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
  </body>
</html>