.analytics__chart {
  padding-left: 6px;
  height: 24px;
  background-color: #2F71E5;
  font-family: 'Roboto','Roboto Slab',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #fff;
}